@import '../../../styles/constants';

.component-page-header {
  display: flex;
  align-items: center;

  h1 {
    outline: none;

    @media (max-width: $small-breakpoint-width) {
      padding: 1em 1em;
      font-size: 2em;
    }
  }

  @media (max-width: $small-breakpoint-width) {
    padding-left: 0;
  }
}

