<div *ngIf="(hero$ | async) as hero" class="hero-detail">
  <app-content-header [title]="hero.name"></app-content-header>
  <div class="hero-banner">
    <div class="hero-background-photo" [ngStyle]="{backgroundImage: 'url(' + hero.photo + ')'}">
      <div class="hero-description-container">
        <div class="hero-description">
          <h1>{{hero.full_name}}</h1>
          <div>{{hero.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div>
  <div class="hero-text">{{hero.text}}</div>
  </div>
</div>
