<app-content-header [title]="headerTitle"></app-content-header>
<div class="heroes-list">
  <div class="hero-item" *ngFor="let hero of (heroes$ | async); let i = index;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{hero.name}}</mat-card-title>
        <mat-card-subtitle>{{hero.full_name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{hero.thumb}}" alt="{{hero.name}}">
      <mat-card-content>
        <p>{{hero.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="{{hero.id}}">DETAIL</a>
        <button mat-button (click)="editHero(hero)">EDIT</button>
        <button mat-button (click)="deleteHero(hero)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
